<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>

    <div class="vh-100 d-flex align-items-center justify-content-center">
        <form class="w-25 shadow p-3" method="POST" action="user/signup">
            <div class="mb-3">
                <label for="exampleInputName" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="exampleInputName" name="fullName">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="email">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1"  aria-describedby="passwordHelp" name="password">
                <div id="passwordHelp" class="form-text">We'll never share your password with anyone else.</div>
            </div>
            
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
    </div>

    <%- include('./partials/script') %>

</body>

</html>